<hr />
<footer>
<p><a href="http://www.byvoid.com/" target="_blank">BYVoid</a> 2012</p>
</footer>
</div>
</body>
<script src="/js/jquery-2.1.3.js"></script>
<script src="/js/bootstrap.js"></script>
</html>
